#about-page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#about {
  overflow: hidden;
}

//layout
.about_section {
  margin: 24px 0;
}
.section-chunk {
  margin: 1em 0;
  .list-container {
    color: #c4c4c4;
    font-size: 1em;

    li,
    span {
      margin: 0.3em;
    }
    &.flex {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

//text
.about_title {
  font-size: 4em;
}
.about_subtitle {
  font-size: 2em;
  line-height: normal;
}
.about_description {
  font-size: 1.5em;
  color: #c4c4c4;
}
.about_section-title {
  font-size: 2em;
  margin-bottom: 0.2em;
}
.chunk_title {
  font-size: 1.5em;
  color: #005ecd;
  font-weight: normal;
  margin-bottom: 0.2em;
}

//links and buttons
.about_devpost-link {
  margin: 0.5em 0;
  background: #154c75;
  color: white;
  font-size: 1em;
  padding: 0.4em;
  display: inline-block;
  transition: 0.3s;
  &:hover {
    background: #4c78a4;
  }
}

.about_resume-link {
  margin: 0.5em 0;
  color: white;
  background: #005ecd;
  font-size: 3em;
  text-align: center;
  display: block;
  padding: 0.2em 0;
  width: 100%;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background: #00369b;
  }
}
