/* colours */
$primary-color: #7D83FF;
$accent-color: #0063B0;
$accent-color2: #13DEB8;
$neutral-gray: #D4DCFF;
$neutral-white: white;

$success: #7FD323;
$error: #FF3366;
$warning: #FFD806;

$Purple-Red: #590925;
$dark-gray: #292c2f;
