body {
    font-family: $secondary-font;
    font-weight: 400;
    line-height: 1.45;
  }

p {
    font-family: $secondary-font;
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    font-family: $primary-font;
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
  }

h1 {
    margin-top: 0;
    font-size: 3.052em;
  }
  
h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}