.project {
  .additional-links {
    text-align: left;
    .github-button {
      display: inline-block;
      color: white;
      padding: 0.5em;
      background: #000000;
      margin-right: 1em;
    }
    .devpost-button {
      display: inline-block;
      color: white;
      padding: 0.5em;
      background: #154c75;
    }
  }
}

.project-button {
  flex: 1.3344;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.project-page {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #282828;
  z-index: 5;
  display: none;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  &.active {
    display: flex;
  }

  .exit-button {
    position: absolute;
    top: 1em;
    right: 1em;
    img {
      width: 1.4em;
      height: auto;
    }
  }

  .basic-info {
    text-align: left;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.2em;
  }
  .description {
    font-size: 1.25rem;
    margin-bottom: 1em;
  }
  .site-button {
    background: #005ecd;
    color: white;
    font-size: 1.25rem;
    padding: 0.5em;
    display: inline-block;
  }

  .main-image {
    height: auto;
    width: 25em;
  }

  .image-carousel {
    .right-arrow {
      transform: rotate(180deg);
    }
    .images-child {
      width: 5em;
      height: auto;
    }
  }
}

.project-page_container {
  margin: auto;
  display: inline-flex;
}

.project-display {
  margin: 2em 0 2em 3em;
  width: 65%;
}

.project-details {
  width: 35%;
  overflow: hidden;
  margin: 2em 2.5em 2em 1.5em;

  .basic-info {
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  .project-page_container {
    flex-direction: column;
    align-items: center;
  }
  .project-display {
    margin: 0 3em;
    width: auto;
  }
  .project-details {
    width: auto;
    margin: 0 3em;
    .basic-info,
    .additional-links {
      text-align: center;
      font-size: 1rem;
    }
  }
}
