html { 
    scroll-behavior: smooth;
    overflow-x:hidden;
}

body {
    padding-top: 66px; //height of navbar
    overflow-x:hidden;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

button {
    outline: none;
    background: none;
    border: none;
}