body {
    font-family: $secondary-font;
    font-weight: 200;
    line-height: 1.45;
  }

p {
    font-family: $secondary-font;
    margin-bottom: 1.25em;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: $primary-font;
    margin: 0 0 1rem;
    font-weight: 200;
    line-height: 1.15;
}

h1 {font-size: 60px;}
  
h2 {font-size: 50px;}

h3 {font-size: 40px;}

h4 {font-size: 30px;}

h5 {font-size: 25px;}