.hero {
    margin-top: 386px; //height of navbar

    @include center-vertical;
  
    .container {
        margin: 0 10em;
        padding: 5em 0;
        font-family: $primary-font;
        color: $secondary-color;
        text-align: center;

        .subtitle {
            margin-top: 0;
        }

        .portrait {
            margin: 2em 0;
            @include circle;
            height: 12em;
            width: 12em;
        }

    }


}


