//hero
.hero {
    margin-top: 66px; //height of navbar
    display: flex;
    .container {
        width: 50em; 
        margin-right: auto;
        margin-left: auto;

        padding: 20vh 0;
        font-family: $primary-font;
        color: $secondary-color;
        text-align: center;

        .title {
            margin-top: 0;
        }

        .subtitle {
            margin-top: 0;
        }

        .portrait {
            margin: 2em 0;
            @include circle;
            height: 12em;
            width: 12em;
        }
    }
}

//about
.about {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 2em 5em;
    .container {
        margin: 3em 0;
        display: flex;
        width: 50em; 
        margin-right: auto;
        margin-left: auto;
        h2 {
            margin-top: 0;
        }
    }

}

.portfolio {
    .container {
        flex-wrap: wrap;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        

        .portfolio__item {
            width: 30em;
            height: 30em;
            .portfolio__image{
                margin: 3em;
                opacity: 1;
                display: block;
                width: 30em;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
                &:hover {
                    opacity: 0.3;    
                }
            }
            .additional-information {
                transition: .5s ease;
                opacity: 0;

                text-align: center;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:hover {
                    opacity: 1;    
                }
            }
        }
    }
}