.nav {
    background: white;
    width: 100%;
    position: fixed;
    top: 0;

    transition: 0.2s;
    z-index: 2;
}

.nav__inner {
        
}

.brand {
    display: inline-block;
    @include element('name') {
        color: $primary-color;
        font-size: 40px;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.nav__button {
    color: $secondary-color;
    font-size: 32px;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.menu {
    display: inline-block;
    float: right;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    .menu__link {
        color: $secondary-color;
        font-size: 20px;
        text-decoration: none;
        padding: 0.5em 1em;
        &:hover {
            color: $primary-color;
        }
    }  
}
    
//on scroll
.nav--scrolled {
    background-color: $secondary-color;
    .nav__inner {
        .menu {
            .menu__link {
                color: white; 
            } 
        }
    }
}

@media screen and (max-width: 700px) {
    .nav {
        .nav__inner {
            .nav__button {
                display: inline-block;
                float: right;
            }
            .menu {
                width: 0;
                height: 100%;
                left: 0;
                top: 1;
                z-index: 3;
                position: fixed;
                background-color: $secondary-color;
                transition: 0.5s;
                overflow-x: hidden;
                a {
                    display: block;
                    z-index: 4;

                    &:hover {
                        color: $primary-color
                    }
                }
            }   
        }
    }
}

