.navbar {
    transition: 0.2s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: +3;

    .container {
        margin: 0 10em;
        padding: 0.5em 0;
        @include center-vertical;
        .navbar__brand{
            margin-left: 20px;
            float: left;
            display: inline;
            .brand__item {
                color: $primary-color;
                font-size: 40px;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .navbar__menu {
            float: right;
            display: inline;
            list-style-type: none;
            overflow: hidden;
            .menu__item {
                float: left;
                display: inline;
                overflow: hidden;
                a{
                    color: $secondary-color;
                    font-size: 20px;
                    text-align: center;
                    text-decoration: none;
                    padding: 0.5em 1em;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            .navbar__button {
                color: $secondary-color;
                font-size: 32px;
                display: none;
            }
        }
    }
}


//media queries
.scrolled {
    background-color: $secondary-color;
    .container {
        .navbar__menu {
            .menu__item {
                a {
                    color: white;
                    &:hover {
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .menu__links {
        display: none;
    }
    .navbar__button {
        display: block;
        float: right;
    }
}
  
@media screen and (max-width: 1024px) {
    .navbar__menu.responsive {
        position: relative;
    
        .navbar__button {
            position: absolute;
            right: 0;
            top: 0;
        }
        .menu__links {
            float: none;
            display: block;
            .menu__item {
                text-align: left;
            }
        }
    }
} 