/* colours */
$primary-color: #0066ff;
$secondary-color: #293347;
$light-grey: #fafafa;
$white: #FFF;

$success: #7FD323;
$error: #FF3366;
$warning: #FFD806;

//fonts
$primary-font: Lato, sans-serif;
$secondary-font: Open Sans, sans-serif;
