/*contact*/
#contact {
  background-color: #0052d4;
  padding-top: 3em;
  padding-bottom: 3em;
}

.contact__container {
  background-color: white;
  border-radius: 25px;
}

.contact__info {
  svg {
    height: 3em;
  }
}
