/*hero */
.text-box__container {
  min-height: 100vh;
  color: white;
  background: linear-gradient(
    0.08deg,
    #0052d4 -0.09%,
    #4364f7 15.07%,
    #69a7fb 88.75%,
    #6fb1fc 99.91%
  );
}

.jumbotron {
  background: none;
}

.scroll-down-button {
  color: white;
}

@include media-breakpoint-down(sm) {
  .text-box__title {
    font-size: 3em;
  }
}

@include media-breakpoint-down(xs) {
  .text-box__title {
    font-size: 2em;
  }
}
