/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background: none;
}

.nav {
  width: 100%;
}

.nav--scroll {
  .nav {
    display: none;
  }
  .open-overlay {
    display: inline;
  }
}

.navbar-brand {
  color: white;
  &:hover {
    color: white;
  }
}

.nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  color: white;
  font-size: 1em;
  &:hover {
    color: #0052d4;
    border-bottom: 2px solid #0052d4;
  }
}

.open-overlay {
  color: $dark-grey;
  display: none;
  svg {
    height: 2em;
  }
}

@include media-breakpoint-down(xs) {
  .nav {
    display: none;
  }
  .open-overlay {
    display: inline;
  }
}

@media only screen and (max-height: 400px) {
  .overlay-link {
    font-size: 0.5em;
  }
}

/* overlay */
.nav__overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.close-overlay {
  z-index: 1;
  svg {
    height: 2em;
    color: white;
  }
  position: absolute;
  top: 12px;
  right: 18px;
}

.overlay__content {
  position: relative;
  text-align: center;
}

.overlay__links {
  font-size: 4em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  .overlay-link a {
    &:hover {
      border-bottom: 0.2em solid white;
      cursor: pointer;

      color: white;
    }
  }
}
