.layout {
  font-size: 1rem;
  margin: 4em 4em 0 4em;
  padding: 2em;
  overflow: hidden;
  border-radius: 4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-title {
  font-size: 3em;
  margin: 0;
  text-align: center;
}
.section-description {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

/*change font size on resize*/
@media (max-width: 992px) {
  .layout {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .layout {
    font-size: 0.75rem;
  }
}
@media (max-width: 555px) {
  .layout {
    font-size: 0.6rem;
  }
}
