.layout {
  padding: 4em 4em 0em 4em;
  overflow-x: hidden;
}
.section-title {
  font-size: 4em;
  margin: 0;
}
.section-description {
  font-size: 3em;
  margin: 0;
  margin-bottom: 0.5em;
}

/*change font size on resize*/
@media (max-width: 992px) {
  .layout {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .layout {
    font-size: 0.75rem;
  }
}
@media (max-width: 555px) {
  .layout {
    font-size: 0.6rem;
  }
}
