@import "../base/all";

#nav {
    width: 100%;
    
    font-family: $primary-font;
    background-color: black;
    
    position: fixed;
    display: block;
    z-index: +2;
    
    .logo {
        color: white;
        font-size: $large-size; 
    }

    .link {
        color: white;
        font-size: $medium-size;
        padding: 0.5em 1em;
        display: block;
        text-align: center;
    }
    
    .link:hover {
        color: $accent-color2;
        background-color: $neutral-gray;
    }

    .left {
        margin-left: 1em;
    }
    
    .right{
        margin-right: 1em;
    }
}

.menu {
    list-style-type: none;
    overflow: hidden;
}

.menu__item {
    float: left;
}

.link {
    text-decoration: none;
}