* {
	padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    font-family: "Montserrat";
    background-color:#007EDF;
    position: fixed;
    display: block;
    width: 100%;
}

.nav__left {
    float: left;
}

.nav__right {
    float: right;
}

.logo {
    font-size: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    list-style-type: none;
    overflow: hidden;
}

.menu__link {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.menu__item {
    background-color: ;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/header.jpg)
}

.header__container {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.about__content {
    left: 50%;
    transform: translateY(-50%);
    width: 50%;
    height:
}

.about__portrait img {
    height: 10%;
    width: 10%;
}