* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* colours */
.circle-portrait {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  float: left;
}

.right {
  float: right;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* colours */
.circle-portrait {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  float: left;
}

.right {
  float: right;
}

#header {
  width: 100%;
  height: 100vh;
}

#header .background {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

#header .background::after {
  content: "";
  background-image: url(../imgs/header.jpg);
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#header .container {
  text-align: center;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 38px;
  border-style: solid;
  border-width: 0.5em;
  border-color: white;
}

#header a.arrow-button {
  bottom: 2em;
  left: 50%;
  z-index: 2;
  position: absolute;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.about__container {
  width: 50%;
  height: 20vh;
}

.about__portrait img {
  height: 10%;
  width: 10%;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* colours */
.circle-portrait {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  float: left;
}

.right {
  float: right;
}

#nav {
  width: 100%;
  font-family: Lato, sans-serif;
  background-color: black;
  position: fixed;
  display: block;
  z-index: +2;
}

#nav .logo {
  color: white;
  font-size: 38px;
}

#nav .link {
  color: white;
  font-size: 28px;
  padding: 0.5em 1em;
  display: block;
  text-align: center;
}

#nav .link:hover {
  color: #13DEB8;
  background-color: #D4DCFF;
}

#nav .left {
  margin-left: 1em;
}

#nav .right {
  margin-right: 1em;
}

.menu {
  list-style-type: none;
  overflow: hidden;
}

.menu__item {
  float: left;
}

.link {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* colours */
.circle-portrait {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  float: left;
}

.right {
  float: right;
}

a.arrow-button {
  padding-top: 80px;
  color: white;
  font-family: Lato, sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

a.arrow-button span {
  position: absolute;
  transform: translate(0, -50%);
  top: 0;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

a.arrow-button span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

a.arrow-button span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

a.arrow-button span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
