//variables and theme
/*Colors*/
$dark-grey: #282828;
$light-gray: #c4c4c4;
$highlight-color: #005ecd;
$white: #ffffff;
$black: #000000;
$devpost-blue: #154c75;
/*Fonts*/
$primary-font: "Raleway", sans-serif;

body {
  color: white;
  font-family: $primary-font;
  background: $dark-grey;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: None;
}

.main-content {
  width: 100%;
  height: 100%;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

.scroll {
  scrollbar-color: rgba(255, 255, 255, 0.4) black;
}
