.loading-enter {
  opacity: 0;
}
.loading-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.loading-exit {
  opacity: 1;
}
.loading-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
