/* footer */
#footer {
  background-color: #212130;
  .container {
    padding: 1em;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.footer__credits {
  color: white;
}

.footer__image {
  color: white;
  height: 1.5em;
  padding: 0 0.25em;
}
  
  