.nav {
    background: white;
    width: 100%;
    position: fixed;
    top: 0;

    transition: 0.2s;
    z-index: 2;
}

.brand {
    display: inline-block;
    margin-left: 1em;
    @include element('name') {
        color: $primary-color;
        font-size: 40px;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.menu {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    @include element('button') {
        font-size: 32px;
        display: none;
        color: $secondary-color;
    }

    .menu__items {
        .menu__link {
            color: $secondary-color;
            font-size: 20px;
            text-decoration: none;
            padding: 0.5em 1em;
            &:hover {
                color: $primary-color;
            }
        }
    }  
}
    
.sidebar {
    display: none;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    position: fixed;
    background-color: $secondary-color;
    transition: 0.5s;
    overflow-x: hidden;
    a {
        display: block;
        z-index: 4;
        color: white;
        text-decoration: none;
        padding: 0.5em 1em;
        &:hover {
            color: $primary-color
        }
    }
}

//on scroll
.nav--scrolled {
    background-color: $secondary-color;
    .nav__inner {
        .menu {
            .menu__button{
                color: white; 
            }
            .menu__items {
                .menu__link {
                    color: white;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .nav {
        .nav__inner {
            .menu {
                .menu__button {
                    display: inline-block;
                    float: right;
                    margin-right: 0.5em;
                }
                .menu__items {
                    display: none;
                }
                
            }   
            .sidebar {
                display: block
            }
        }
    }
}



