//variables and theme
/*Colors*/
$primary-color: #000;
$secondary-color: #000;
$highlight-color: #000;
$secondary-highlight-color: #000;
/*Fonts*/
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Raleway", sans-serif;

//general styling
html,
body {
  min-height: 100%;
}

body {
  font-family: $secondary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
