@import "~bootstrap/scss/bootstrap";
@import "./styling/normalize.css";

h6,h4,h3,h2,h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

* {
	outline: none;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  outline: none;
  border: none;
  border-style: none;
}

button:active {
  outline: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/*navbar */
.navbar {
  position: fixed;
  width: 100%;
}

.navbar {
  background: none;
}

.nav-link, .navbar-brand { 
  color: white;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/*hero */
#hero {
  min-height: 100vh;
  color: white;
  background: linear-gradient(0.08deg, #0052D4 -0.09%, #4364F7 15.07%, #69A7FB 88.75%, #6FB1FC 99.91%);
}

.jumbotron {
  background: none;
}

.scroll-down-button {
  color: white;
}

/*portfolio */


  