#portfolio {
  font-size: 1rem;
  text-align: center;
  margin: 4em 4em;

  & > .title {
    margin: 0;
  }
  & > .description {
    font-size: 3em;
    margin: 0;
    margin-bottom: 0.2em;
  }
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  background: #c4c4c4;
  flex-basis: 33%;
  margin: 0.1rem 0;
  width: 20em;
  min-height: 10em;
  &:hover {
    cursor: pointer;
  }
}

.more-link {
  color: white;
  p {
    margin: 0.1rem 0;
    font-size: 2em;
    font-weight: 700;
    background: #c4c4c4;
    padding: 0.5em 1em;
  }
  &:hover {
    cursor: pointer;
  }
}
.links {
  width: 100%;
  display: flex;
  font-size: 2em;
  font-weight: 700;

  a {
    color: white;
  }

  p {
    margin: 0;
    padding: 0.5em 1em;
  }

  .github-link {
    margin: 0.1rem 0;
    background: black;
    flex-basis: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .devpost-link {
    margin: 0.1rem 0;
    background: #154c75;
    flex-basis: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

//change font size on resize
@media (max-width: 992px) {
  #portfolio {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  #portfolio {
    font-size: 0.75rem;
  }
  .project {
    flex-basis: 49.5%;
  }
}
@media (max-width: 555px) {
  #portfolio {
    font-size: 0.5rem;
  }
  .project,
  .github-link,
  .devpost-link {
    flex-basis: 100%;
  }
  .links {
    flex-direction: column;
  }
}
